#user-settings #main {
	.left-sidebar {
		width: 192px;
		margin-right: 64px;

		h1 {
			@include emphasis;
			font-size: 14px;
			margin-bottom: 8px;
		}

		.tab-stack {
			margin-left: 8px;
		}
	}
}

#add-feed {
	background: $grey0;
	border-radius: 2px;
	padding: 32px;

	hr {
		margin: 8px 0;
	}
}
