{{ define "header-bar" }}
	<header>
		<h1><a href="/">本物語。</a></h1>
		<section id=search-bar>
			<form id=search>
				<ul>
					<li>
          <!--
						<label>
							<select class=filter-type dir=rtl>
								<option value=title>Title</option>
								<option value=tags>Tags</option>
                <option value=group>Group</option>
								<option value=author>Author</option>
								<option value=magazine>Magazine</option>
								<option value=publisher>Publisher</option>
								<option value=demographic>Demographic</option>
							</select>
            </label>-->
						<input tabindex=1 type=text class=filter-content placeholder="Keywords...">
					</li>
				</ul>
				<button type=button id=search-button>Search</button>
        <button type=button id=advanced-search-button>More options...</button>
			</form>
		</section>
    <div id=browse>
      <h2>Browse<em>→</em></h2>
      <nav>
        <ul>
          <li><a href="/series">Series</a></li>
          <li><a href="/tags">Tags</a></li>
          <li><a href="/demographics">Demographics</a></li>
          <li><a href="/authors">Authors</a></li>
          <li><a href="/magazines">Magazines</a></li>
          <li><a href="/publishers">Publishers</a></li>
          <li><a href="/groups">Groups</a></li>
        </ul>
      </nav>
    </div>
		<section id=header-user-info>
		{{ if . }}
			<div id=name><a href=/user/{{ .Id }}>{{ .Name }}</a></div>
			{{ if .Avatar }}
			<img src=/img/u/t/{{ .Id }}.jpg>
			{{ else }}
			<img src=/img/u/t/0.jpg>
			{{ end }}
      <button type=button id=logout-button>Log out</button>
		{{ else }}
      <form>
        <input tabindex=2 name=user type=text placeholder="Username or email">
        <input tabindex=3 name=pass type=password placeholder=Password>
        <button id=login-button>Log in</button>
        <div id=other-links>
          <a href=/register>Sign up →</a>
          <a href=/forgot>Forgetful?</a>
        </div>
      </form>
		{{ end }}
		</section>
	</header>
{{ end }}

{{ define "footer" }}
	<footer>
		<div id=footer-logo><a href="http://displaynone.us"></a></div>
		<div id=footer-text>
			<h1>Copyright © 2013 <code><a href="http://displaynone.us">display: <b>none</b>;</a></code>.</h1>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/legal">Legal</a></li>
				<li><a href="https://github.com/moshee/books">Hacking</a></li>
				<li><a href=#>IRC</a></li>
				<li><a href="/help">Help</a></li>
			</ul>
		</div>
	</footer>
{{ end }}

{{ define "group-list" }}
  {{ $l := len .Ids | add -1 }}
  {{ range $i, $id := .Ids }}
  <a href=/group/{{ $id }}>{{ index $.Names $i }}</a>
  {{ if ne $i $l }}+{{ end }}
  {{ end }}
{{ end }}

{{ define "series-character" }}
<li>
  {{ if .Picture }}<img href=/img/c/t/{{ .Id }}.jpg>{{ else }}<img href=/img/c/t/0.jpg>{{ end }}
  <h4><a href=/character/{{ .Id }}>{{ .Name }}</a></h4>
  <p>{{ .CharacterType }}{{ if ne .CharacterRole 0 }} — {{ .CharacterRole }}{{ end }}</p>
</li>
{{ end }}
