{{ define "release-list" }}<table>
  <thead>
    <th><td>Title</td><td>Chapter</td><td>Group</td><td>Date Added</td></th>
  </thead>
  <tbody>
    {{ range .Releases }}
    <tr><td><a href=#>{{ .BookSeries.Title }}</a></td><td>{{ .Chapters }}</td><td>({{ .Language }}) {{ .TranslationGroup.Name }}</td><td>{{ .ReleaseDate }}</td></tr>
    {{ end }}
  </tbody>
</table>
{{ end }}

{{ define "series-list" }}<table>
  <thead>
    <th><td>Title</td><td>Vintage</td><td>Authors</td><td>Date Added</td></th>
  </thead>
  <tbody>
    {{ range .Series }}
    <tr>
      <td><a href=#>{{ .Title }}</a></td>
      <td>{{ .Vintage }}<td>
      <td>
        {{ range .Credits }}
        <div><a href=/author/{{ .Author.Id }}>{{ .Author.Name }}</a> ({{ .Credit }})</div>
        {{ end }}
      </td>
      <td>{{ .DateAdded }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
