{{ define "index" }}<!doctype html>
<head>
<meta charset=utf-8>
<meta name=viewport content="initial-scale=1.0">
<meta name=description content="A place to discover and opinionate on Japanese print-based entertainment.">
<title>title placeholder</title>
<link rel=stylesheet href=/static/style.css><!-- TODO: CDN -->
</head>
<body>
<section id=main>
	<header>
	</header>
	<nav id=browse>
		<ul>
			<li><a href=#>Series</a></li>
			<li><a href=#>Authors</a></li>
			<li><a href=#>Magazines</a></li>
			<li><a href=#>Publishers</a></li>
			<li><a href=#>Translators</a></li>
			<li><a href=#>Releases</a></li>
		</ul>
	</nav>
	<nav id=filters>
		<ul>
			<li><a href=#>Demographics</a></li>
			<li><a href=#>Tags</a></li>
		</ul>
	</nav>
	<section id=search>
    <ul class=filter-entry>
      <li>
        <select class=filter-type>
          <option value=title>Title</option>
          <option value=tags>Tags</option>
          <option value=demographic>Demographic</option>
          <option value=author>Author</option>
          <option value=magazine>Magazine</option>
          <option value=publisher>Publisher</option>
        </select>
        <input type=text class=filter-content>
        <button class=remove-filter>-</button>
      </li>
    </ul>
    <button class=add-filter>+</button>
	</section>
	<section id=latest>
    <section id=latest-releases>
      <h1>Latest Releases</h1>
      {{ template "release-list" .Releases }}
    </section>
    <section id=latest-books>
      <h1>Recently Added Titles</h1>
      {{ template "series-list" .Series }}
    </section>
	</section>
	<section id=news>
    {{ if .News }}
    {{ with .News }}
    <article id=news-{{ .Id }}>
      <h2>{{ .Title }}</h2>
      <div class=news-meta>Posted by <a href="/user/{{ .User.Id }}/{{ slugify .User.Name }}">{{ .User.Name }}</a> on <time datetime="{{ .DatePosted.Format "2006-01-02T15:04:05-0700" }}">{{ .DatePosted.Format "2 Jan., 2006" }}</time> under {{ .Category }}</div>
      {{ smarkdown .Body }}
    </article>
    {{ end }}
	  {{ else }}
    <h2 class=no-news>No news at this time.</h2>
    {{ end }}
	</section>
	<footer>
	</footer>
</body>
{{ end }}

{{ define "index-error" }}
<p>{{ .Error }}</p>
{{ end }}
