{{ define "index" }}<!doctype html>
<head>
<meta charset=utf-8>
<meta name=viewport content="initial-scale=1.0">
<meta name=description content="A place to discover and opinionate on Japanese print-based entertainment.">
<title>title placeholder</title>
<link rel=stylesheet href=/static/style.css><!-- TODO: CDN -->
</head>
<body>
<section id=main>
	<header>
	</header>
	<nav id=browse>
		<ul>
			<li><a href=#>Series</a></li>
			<li><a href=#>Authors</a></li>
			<li><a href=#>Magazines</a></li>
			<li><a href=#>Publishers</a></li>
			<li><a href=#>Translators</a></li>
			<li><a href=#>Releases</a></li>
		</ul>
	</nav>
	<nav id=filters>
		<ul>
			<li><a href=#>Demographics</a></li>
			<li><a href=#>Tags</a></li>
		</ul>
	</nav>
	<section id=search>
    <ul class=filter-entry>
      <li>
        <select class=filter-type>
          <option value=title>Title</option>
          <option value=tags>Tags</option>
          <option value=demographic>Demographic</option>
          <option value=author>Author</option>
          <option value=magazine>Magazine</option>
          <option value=publisher>Publisher</option>
        </select>
        <input type=text class=filter-content>
        <button class=add-remove>+</button>
        </li>
      </ul>
	</section>
	<section id=latest>
    <section id=latest-releases>
      <h1>Latest Releases</h1>
      <table>
        <thead>
          <th><td>Title</td><td>Chapter</td><td>Group</td><td>Date Added</td></th>
        </thead>
        <tbody>
          {{ range .Releases }}
          <tr><td><a href=#>{{ .BookSeries.Title }}</a></td><td>{{ .Chapters }}</td><td>({{ .Language }}) {{ .TranslationGroup.Name }}</td><td>{{ .ReleaseDate }}</td></tr>
          {{ end }}
        </tbody>
      </table>
    </section>
    <section id=latest-books>
      <h1>Recently Added Titles</h1>
      <table>
        <thead>
          <th><td>Title</td><td>Vintage</td><td>Authors</td><td>Date Added</td></th>
        </thead>
        <tbody>
          {{ range .Series }}
          <tr>
            <td><a href=#>{{ .Title }}</a></td>
            <td>{{ .Vintage }}<td>
            <td>
              {{ range .Credits }}
              <div><a href=/author/{{ .Author.Id }}>{{ .Author.Name }}</a> ({{ .Credit }})</div>
              {{ end }}
            </td>
            <td>{{ .DateAdded }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </section>
	</section>
	<section id=news>
	</section>
	<footer>
	</footer>
</body>

