@media screen and (max-width: 1280px) {
	.feed {
		width: 100%;
		max-width: 768px;
		margin: 0 auto;
		float: none;
	}
}

@media screen and (max-width: 1024px) {
	header h1 {
		left: 16px;
	}
	#main {
		margin: 0 64px 64px;
	}
}

@media screen and (max-width: 768px) {
	header h1 {
		position: relative;
		display: inline-block;
	}
	#main {
		margin: 0 32px 64px;
	}
}
