a.look-more {
	font-size: 20px;
	margin-top: 32px;
}
#latest {
	float: none;
	padding: 32px 16px;
	width: auto;
}
#latest h1 {
	font-size: 48px;
	line-height: 64px;
}
table td {
	padding: 8px;
}
#news {
	width: auto;
	padding: 0 32px 64px;
	float: none;
}
aside.sidebar {
	padding-bottom: 32px;
}
#find {
	width: 100%;
	float: none;
}
#find nav h1 {
	margin: 0;
}
#find nav {
	float: none;
	margin: 0 0 16px;
}
#find nav ul {
	font-size: 22px;
}
#find nav ul li {
	display: inline-block;
	margin-right: 16px;
}
#find label:after {
	top: 16px;
	line-height: 14px;
	font-size: 20px;
}
#find select,
#find label,
#find input,
#search button.remove-filter {
	line-height: 49px;
	height: 49px;
}
#search ul li:last-child select,
#search ul li:last-child input,
#search ul li:last-child button.remove-filter {
	height: 48px;
}
#find select {
	font-size: 14px;
}
#find input {
	font-size: 20px;
}
#search button.remove-filter, #add-filter {
	width: 48px;
	font-size: 20px;
}
#search-button {
	font-size: 18px;
	padding: 0 16px;
	margin-top: 16px;
}
#search-button em {
	font-size: 22px;
}
#add-filter, #search-button {
	height: 48px !important;
}
#news h2 {
	font-size: 24px;
}
.news-meta {
	font-size: 14px;
}
#news .post-body {
	font-size: 18px;
}

@media screen and (max-width: 768px) {
	#latest-releases table .ld,
	#latest-books table .lt,
	.unimportant {
		display: none;
	}
	span.important {
		display: inline;
	}
	div.important {
		display: block;
	}

	#latest {
		padding: 16px;
	}
	table {
		font-size: 16px;
	}
	table td, table th {
		padding: 8px 4px;
	}
	table .lg {
		display: none;
	}
	.lang-code {
		height: 20px;
		width: 28px;
		line-height: 18px;
		font-size: 15px;
	}
	aside.sidebar h1 {
		font-size: 18px;
	}
}
