@charset "utf-8";

* { margin: 0; padding: 0; box-sizing: border-box }
::selection {
	background: rgba(50,80,180,0.2);
	color: #000;
}

html {
	background: #f5f5f5;
}
body {
	font-family: source sans pro, meiryo, sans-serif;
	color: #444;
	background: #fff;
	min-width: 480px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: share, sans-serif;
	font-weight: 400;
}

a {
	color: #338;
	text-decoration: none;
}
a:hover, a:focus {
	outline: none;
	color: #5a1;
}
.tag {
	font-size: 12px;
	border: 1px solid #ddd;
	padding: 0 2px;
	height: 18px;
	line-height: 16px;
	border-radius: 2px;
	margin-right: 4px;
	display: inline-block;
}
a.look-more {
	margin-top: 16px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	text-align: center;
}
a.look-more:after {
	content: " →";
}

.important {
	display: none;
}

hr.clear {
	border-width: 0;
	height: 0;
	clear: both;
}

header {
	margin-bottom: 32px;
}
header h1 {
	font-family: ryo gothic plusn uh, kozuka gothic pr6n h, hiragino kaku gothic std w8, meiryo, sans-serif;
	font-weight: 900;
	font-size: 42px;
	width: 64px;
	line-height: 64px;
	margin: 0 auto;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	position: relative;
}
header h1 a {
	color: #444;
	padding-top: 32px;
	display: block;
	transition: all 0.05s ease-out;
}
header h1 a:hover, header h1 a:focus {
	outline: none;
	background: #5a1;
	color: #fff;
}

table {
	font-size: 14px;
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: left;
	text-transform: uppercase;
	padding: 2px 8px;
}
table td {
	padding: 3px 8px;
	height: 24px;
	line-height: 18px;
}
table tr:nth-of-type(2n+1) td {
	background: #fafafa;
}
.lang-code {
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 1px;
	border: 1px solid #ddd;
	height: 18px;
	line-height: 16px;
	font-weight: 700;
	color: #888;
	width: 24px;
	text-align: center;
	display: block;
	border-radius: 3px;
}
table .ll {
	width: 28px;
	padding: 0 4px;
	text-align: center;
}
table .lm {
	width: 110px;
}
table .lg {
	max-width: 150px;
}
table .ly {
	width: 4em;
}
table .lt {
	max-width: 150px;
}
table .ld {
	text-align: right;
}
table td.ld {
	font-size: 12px;
	color: #888;
}
table .lc {
	width: 80px;
}
table .lv {
	width: 50px;
	text-align: right;
}

ul.rating-stars {
	list-style-type: none;
	display: block;
	float: right;
}

ul.rating-stars li {
	display: inline-block;
	width: 3px;
	height: 14px;
	position: relative;
	top: 2px;
	margin-right: 1px;
}
ul.rating-stars li.on {
	background: #338;
}
ul.rating-stars li.off {
	background: #ccc;
}

#latest {
	float: left;
	padding: 0 64px 64px 32px;
	width: calc(100% - 448px);
}

#latest h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 64px;
	font-weight: 400;
	text-align: center;
}

#latest section {
	margin-bottom: 64px;
}

aside.sidebar {
	width: 448px;
	padding: 0 32px 64px 32px;
	float: right;
}
aside.sidebar h1 {
	font-family: source sans pro, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	color: #888;
	margin-bottom: 8px;
}
#find nav {
	display: block;
	float: left;
	margin-right: 32px;
}
#find nav ul {
	list-style-type: none;
	font-size: 20px;
}
#search {
	margin-bottom: 32px;
	position: relative;
}
#search ul {
	list-style-type: none;
}
#search ul li {
	position: relative;
	font-size: 0; /* remove spaces between inline-block elements */
	display: flex;
	flex-direction: row;
	align-content: stretch;
	width: 100%;
}
#search ul li:first-child select {
	border-top-left-radius: 2px;
}
#search ul li:last-child select {
	border-bottom-left-radius: 2px;
}
#search select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border: none;
	outline: none;
	font-family: source sans pro, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
	height: 32px;
	padding: 0 24px 0 8px;
	background: #444;
	color: #fff;
}
#search label {
	height: 32px;
	position: relative;
	flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	-moz-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
}
#search label:after {
	content: "↓";
	color: #fff;
	position: absolute;
	right: 6px;
	top: 8px;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	font-weight: 700;
	font-size: 18px;
	pointer-events: none;
}
#search input {
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #444;
	height: 32px;
	padding: 0 8px;
	border: none;
	background: #f5f5f5;
	font-family: source sans pro, meiryo, sans-serif;
	font-size: 18px;
	outline: none;
	flex: 1 1 auto;
}
#search button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	height: 32px;
	font-weight: 700;
	flex: 0 1 auto;
	color: #444;
	font-family: source sans pro, meiryo, sans-serif;
}
#search button.remove-filter, #add-filter {
	width: 32px;
	font-size: 18px;
}
#search select,
#search input,
#search button.remove-filter {
	border-bottom: 1px solid #ccc;
	line-height: 33px;
	height: 33px;
}
#search select {
	border-bottom-color: #000;
	line-height: 32px;
}
#search ul li:last-child select,
#search ul li:last-child input,
#search ul li:last-child button.remove-filter {
	border-bottom: none;
	height: 32px;
}
#search input:hover, #search button {
	background: #f0f0f0;
}
#search input:focus {
	background: #e8e8e8;
}
#search input:active {
	background: #e0e0e0;
}
#search button:hover {
	background: #5a1;
	color: #fff;
}
#search button:active {
	background: #490;
}
#search-button {
	padding: 0 8px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 32px;
	float: right;
	margin-top: 8px;
}
#search-button em {
	font-style: normal;
	font-size: 20px;
	line-height: 0;
}
#add-filter {
	position: absolute;
	top: 0;
	right: 0;
}
.sidebar.auth {
	position: absolute;
	right: 0;
	top: 32px;
}
#news h2 {
	font-size: 20px;
	font-family: source sans pro, meiryo, sans-serif;
}
.news-meta {
	font-size: 12px;
	color: #888;
	margin: 8px 0;
}
#news .post-body {
	font-size: 16px;
}

footer {
	clear: both;
	padding: 32px 0;
	background: #f5f5f5;
	color: #888;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
}
footer a {
	color: #66a;
}
footer section {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.25em;
}
#copyright {
	text-align: right;
	margin-right: 16px;
	width: auto;
}
#copyright h1 {
	font-size: 16px;
}
#copyright h1 code {
	font-size: 14px;
	background: #fff;
	padding: 1px 2px;
}
#footer-links {
	margin-left: 16px;
	font-size: 13px;
	color: transparent;
}
#footer-logo a {
	display: block;
	width: 42px;
	height: 40px;
	background-size: 42px 40px;
	background-image: url('/static/displaynone-logomark.svg');
}
#footer-logo a:hover {
	background-image: url('/static/displaynone-logomark-hover.svg');
}

@media screen and (min-width: 1920px) {
	#latest section {
		width: 50%;
		float: left;
	}
	#latest section:nth-of-type(2n+1) {
		padding-right: 16px;
	}
	#latest section:nth-of-type(2n+2) {
		padding-left: 16px;
	}
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
	table .lt {
		display: none;
	}
}
